@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.nav {
    display: flex;
    background-color: darkslategray;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.nav-title {
    color:white;
    margin-left: 50px;
}
.nav-links {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    width: 500px;
}
a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
li {
    list-style: none;
}
button {
    background-color: darkcyan;
    color:white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}